*{
    margin: 1;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modulo, .istogramma {
    width: auto;
    height: auto;
}
.modulo {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
}
.bottoni input{
    font-size: 18px;
    cursor: pointer;
}

canvas {
    width: auto;
}

input[type="number"] {
    width: 110px;
    margin-bottom: 15px;
    font-size: 15px;
}
select {
    font-size: 15px;
}